*{
    box-sizing: border-box;
}

body {
    background-color: rgb(122, 190, 128);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 480px;
    height: 320px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid black;
}